[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
flask = "*"
flask-cors = "*"
mysql-connector-python = "*"
gunicorn = "*"

[requires]
python_version = "3.6"
